@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
:root{
    --text-font: 'Space Grotesk', sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--text-font);
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.right-section{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-section{
    width: 30vw;
    background-image: url('../images/bg-main-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}


.cards-container{
   width: 420px;
   position: absolute;
   display: flex;
   flex-direction: column;
   gap: 20px;
   top: 50%;
   left: 100%; /* Posiciona 'exatamente' na metade da borda*/
   transform: translate(-50%, -50%);
}

#front-card img, #back-card img{
    width: 100%;
}

#front-card{
    transform: translate(-100px);
}

/*
----------------------- form -------------------------
*/
form{
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.card-details{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card-details label{
    font-size: .8em;
    font-weight: 700;
    letter-spacing: 3px;
}

.card-details input{
    width: 100%;
    height: 46px;
    border: none;
    border: 1.6px solid #00000066;
    border-radius: 8px;

    font-size: 1.1em;
    text-indent: 12px;
    outline: none;
}
.card-details input:focus,#exp-date-container input:focus{
    border: 1.8px solid #711fa0;
}

#exp-date-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

#exp-date-container label{
    font-size: .8em;
    font-weight: 700;
    letter-spacing: 3px;
}

#exp-date-container input{
    border: none;
    border: 1.6px solid rgb(0, 0, 0,0.4);
    border-radius: 8px;
    width: 80px;
    height: 46px;

    font-size: 1.1em;
    text-indent: 12px;
    outline: none;
}

#container-date, #container-cvc{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

#container-date div{
    width: 100%;
    display: flex;
    gap: 16px;
}

#container-cvc input{
    width: 190px;
    height: 46px;
}

#form-buttons{
    width: 90%;
}
#form-buttons input{
    width: 100%;
    height: 46px;
    border: none;
    border-radius: 8px;
    background-color:#350e4b;
    color: white;
    font-size: 1em;
    letter-spacing: 2px;
    cursor: pointer;
}



/*
    mensagem de agradecimento
*/

.hidden{
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    display: none;
}

#hidden-text{
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 42px;
}

#hidden-text p{
    color: #00000080;
}

#continue-button{
    width: 100%;
}

#continue-button input{
    width: 100%;
    height: 52px;
    border-radius: 8px;
    border: none;
    background-color: #350e4b;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

/* 
Informações impressas no cartão 
*/

#info-impresso-container{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    letter-spacing: 2px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
#numero-impresso{
    width: 80%;
    font-size: 1.6em;
}

#logo-card{
    position: absolute;
    width: 90px;
    top: 22%;
    left: 18%;
    transform: translate(-50%,-50%);

}

#nome-data-container{
    width: 80%;
    display: flex;
    justify-content:space-between;
    margin: 24px 0px;
}

#nome-impresso {
    font-size: 1em;
    text-align: center;
    display: flex;
    align-items: center;
}

#validade-impresso{
    font-size: 1em;
    display: flex;
    align-items: center;
}

/*
*/
#cvv-impresso{
    color: white;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 1.1em;
    position: absolute;
    top: 75%;
    left: 82%;
    transform: translate(-50%,-50%);
}


/*
    mensagens de erro
*/

form p{
    color: #ff6d6d;
    font-size: .8em;
    font-weight: 500;
}

#card-name-container p{
    display: none;
}

#card-number-container p{
    display: none;

}

#errorDate{
    display: none;
}

#errorCvv{
    display: none;
}

#errorMessengers{
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: -8px;
}
